.menuItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  user-select: none;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

.menuItem:hover {
  background-color: var(--extra-light-gray);
}

/* TODO: make proper modificators */
.menuItem__title,
.menuItem__title_warning {
  font-weight: 500;
}

.menuItem__title_warning {
  color: var(--text-error-color);
}
