.button {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  color: #fff;
  border-radius: 6px;
  font-size: var(--fs-normal);
  padding: 8px;

  user-select: none;
  transition: 0.2s;
}

.button:hover {
  cursor: pointer;
}

/* .button:hover {
  background-color: var(--accent-color);
  color: #fff;
} */
