.sidebarWorkspaces {
}

.sidebarWorkspaces__title {
  font-size: var(--fs-normal);
  color: var(--light-gray);
  font-weight: 400;

  margin-bottom: 0.75em;
}

.sidebarWorkspaces__addGroup {
  width: 100%;
  margin-top: 2em;
  display: flex;
  justify-content: center;
}
