.sidebar {
  padding: 2em;
  border-right: 1px solid var(--gray);

  display: grid;
  grid-template-rows: 1fr 11fr 1fr;

  min-width: 300px;
  max-width: 350px;
}

.sidebar__logo {
  width: 100%;

  display: flex;
  justify-content: center;
}

.sidebar__user {
  display: flex;
  align-items: flex-end;
}
