.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  flex: 1;
}

.inputBlock__info {
  display: flex;
  justify-content: space-between;
}

.inputBlock__input {
  border: 1px solid var(--gray);
  padding: 0.5em 1em;
  border-radius: 6px;
  font-size: inherit;

  resize: none;
}

.inputBlock__input:focus {
  outline: none;
}

.inputBlock__input::placeholder {
  color: var(--gray);
}

.inputBlock__error {
  color: var(--error-color);
}
